@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
	box-sizing: border-box;
}
:root {
	--l: 7;
	--bg: white;
	--black-text: #000;
	--white-text: #fff;
	--alpha: 0;
}
body {
	background: var(--bg);
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
.container {
	position: relative;
	height: 100vh;
	width: 100vw;
}
.section {
	height: 100vh;
}
.section-intro {
	background: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.triangle-graphic {
	background: none;
	position: absolute;
	width: 45vmin;
	height: 45vmin;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
	z-index: 3;
}
.section-intro .text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	whitespace: nowrap;
	--clip: 100;
	color: black;
	-webkit-clip-path: inset(0 calc(var(--clip, 0) * 1%) 0 0);
	clip-path: inset(0 calc(var(--clip, 0) * 1%) 0 0);
	z-index: 4;
}
.content {
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.apple-image {
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.section-content .text {
	color: black;
}
.section-design,
.section-communicate,
.section-zoom,
.section-realize {
	height: 300vh;
}
.section-design .content,
.section-communicate .content,
.section-zoom .content,
.section-realize .content {
	background: #6bc525;
	color: var(--white-text);
}
.section-realize .text,
.section-communicate .text,
.section-design .text {
	opacity: 0;
	transform: translate(0, 100%);
}
.blurb {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.blurb p {
	width: 300px;
	opacity: 0;
	transform: translate(0, 100%);
}
p {
	font-size: 1.5rem;
}
@media (min-width: 768px) {
	p {
		font-size: 2rem;
	}
}
h1.text {
	font-size: 2rem;
}
@media (min-width: 768px) {
	h1.text {
		font-size: 4rem;
	}
}
h2.text {
	font-size: 1.5rem;
}
@media (min-width: 768px) {
	h2.text {
		font-size: 2rem;
	}
}
h1,
h2,
p {
	margin: 0;
}
